body {
    background-image: url('../town_square.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    /* To prevent scrolling if not needed */
}


#background-container {
    z-index: 0;
    /* or higher if needed */
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url('../town_square.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

@keyframes blink-highlight {
    0% {
        opacity: 0.8; /* Fully visible */
        background-color: rgba(255, 255, 255, 0.5); /* Highlight color */
    }
    10% {
        opacity: 0; /* Instantly invisible */
        background-color: transparent; /* No color */
    }
    100% {
        opacity: 0; /* Remain invisible */
        background-color: transparent; /* No color */
    }
}



.clickable-area {
    position: absolute;
    cursor: pointer;
    opacity: 0.8;
}

.clickable-area.blink {
    animation: blink-highlight 5s infinite;
    animation-delay: var(--blink-delay);
    /* Delay is randomized per element */
}

.clickable-area:hover {
    animation: none;
    /* Stop the blinking animation */
    opacity: 0.8;
    /* Maintain visibility */
    background-color: rgba(255, 255, 255, 0.5);
    /* Preserve whitish color */
}